<%-include("header")-%>
<div class="container mt-5">
<div class="row">
  <a href="/login"><h1 class="login">Login</h1></a>
  <div class="vl"></div>
  <a class="hotellogin"><h1>Hotel Login</h1></a>
</div>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<%-include("footer")-%>
